body,html {
    background-color: #c0f8fc;
}
.flex-container {
    display: flex;
    background-color: #c0f8fc;
    padding-left: 325px;
  }
  
  .flex-container > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
  }
 #xyz {
    text-align: center;
    font-size: 50px;
    font-family: "Sixtyfour Convergence", sans-serif;
  }
  
 